/auto-save-list/.saves-3166-raffles~
/elpa/archives/gnu/archive-contents~
*~
*.elc
/.idea/**
/tramp
/.idea/**
\#*\#
/elpa/**
/vendor/slime/
.python-environments
vendor/swank-js
/irony/bin/irony-server
irony
/semanticdb/!mnt!hdd!andy!qt1!semantic.cache
/semanticdb/!mnt!hdd!andy!repos!dev!argo!src!semantic.cache
/semanticdb/!mnt!hdd!andy!repos!dev!c!semantic.cache
/semanticdb/!mnt!hdd!andy!repos!dev!cpp!semantic.cache
/semanticdb/!mnt!hdd!andy!repos!dev!dargo!src!experiments!semantic.cache
/semanticdb/!mnt!hdd!andy!repos!dev!iceExample!semantic.cache
semanticdb/**
